Try several models

In [192]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import xgboost as xgb

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
df = pd.read_csv("cleaned_data_set_immoweb.csv")

In [193]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,Postal_code,Province,Type_of_property,Subtype_of_property,Price,Number_of_rooms,Living_Area,Fully_equipped_kitchen,Terrace_Area,Garden_Area,Surface_area_of_the_plot_of_land,State_of_the_building
0,1130,Brussels,1,1,450000,3,156,1,43,0,0,4
1,1140,Brussels,1,1,450000,3,156,1,43,0,0,4
2,1180,Brussels,1,2,485000,2,107,1,17,0,0,1
3,1000,Brussels,1,3,460000,3,147,1,52,0,0,4
4,1340,Walloon Brabant,1,2,475000,3,115,0,20,0,0,1

In [194]:
df=df.drop(['Province','Fully_equipped_kitchen','Type_of_property'], axis=1)

X=df.drop(['Price'], axis=1)
y=df['Price']

In [195]:
# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

We standardize our data:

In [184]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train_standardized = scaler.transform(X_train)
X_test_standardized = scaler.transform(X_test)

In [168]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

# train a Random Forest regressor on the training data
rf = RandomForestRegressor(n_estimators=50, random_state=20)
rf.fit(X_train, y_train)

# make predictions on the testing data
y_pred = rf.predict(X_test)

# evaluate the model's performance
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 89388.46784693967

In [185]:
import xgboost as xgb
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

xgb_model = xgb.XGBRegressor(objective="reg:squarederror", random_state=0)
xgb_model.fit(X_train_standardized, y_train)

# make predictions on the testing data
y_pred = xgb_model.predict(X_test_standardized)

In [ ]:
import xgboost as xgb
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

# load the boston housing dataset as an example
boston = load_boston()
X = boston.data
y = boston.target

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# train an XGBoost regressor on the training data
xgb_model = xgb.XGBRegressor(objective="reg:squarederror", random_state=0)
xgb_model.fit(X_train, y_train)

# make predictions on the testing data
y_pred = xgb_model.predict(X_test)

# evaluate the model's performance
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

In [152]:
regressor_RandomForest = RandomForestRegressor(n_estimators=40,random_state=42) 
regressor_RandomForest.fit(X_train,y_train)
RandomForest_pred =regressor_RandomForest.predict(X_test)

# Score
rf_score=regressor_RandomForest.score(X_test,y_test)
print('Score:', rf_score)

Score: 0.7479483220010816

In [153]:
X.head()

,Postal_code,Subtype_of_property,Number_of_rooms,Living_Area,Terrace_Area,Garden_Area,Surface_area_of_the_plot_of_land,State_of_the_building
0,1130,1,3,156,43,0,0,4
1,1140,1,3,156,43,0,0,4
2,1180,2,2,107,17,0,0,1
3,1000,3,3,147,52,0,0,4
4,1340,2,3,115,20,0,0,1